@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');





html, body {
    font-family: 'Roboto', sans-serif;

    
    margin: 0;
    height: 100%;
    width: 100%;
    color: white;
    
  }




.dropdown-menu{
  color: white;
}
.website-content{
  height: 8000px; /*height of container*/
  background: linear-gradient(to bottom, #0f172a, #191970); 
  
}

nav{
  position: sticky;
  padding-left: 20px;
  padding-right: 20px;
}

#profile{
  margin-top: 20px;
  
}
form{
  display:flex;
  justify-content: space-between;
  align-items: center;
}


.news-container {
  position: relative;
  top: 30px;
  left: 0;
  right: 0;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
}

.news-container .title {
  position: absolute;
  background: #0f172a;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: white;
  font-weight: bold;
  z-index: 200;
}

.news-container ul {
  display: flex;
  list-style: none;
  margin: 0;
  animation: scroll 25s infinite linear;
}

.news-container ul li {
  white-space: nowrap;
  padding: 10px 24px;
  color: #494949;
  position: relative;
}

.news-container ul li::after {
  content:"";
  width: 1px;
  height: 100%;
  background: #b8b8b8;
  position: absolute;
  top: 0;
  right: 0;
}

.news-container ul li:last-child::after {
  display: none;
}

@keyframes scroll {
  from {
      transform: translateX(100%);
  }

  to {
      transform: translateX(-1083px);

  }
}

  .tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip {
    visibility: hidden;
    width: 200px; 
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -100px; 
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip::after {
    content: "";
    position: absolute;
    top: 100%; /* Arrow at the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
  }
  
  .tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }




  .container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 2000px; 
    
}

.left, .right {
    padding: 20px; 
    height: 2000px;
    
}

.filter-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
#profExperience{
  margin-right: 10px;
  margin-top: 0px;
}

#projExperience{
  margin-top: 20px;
}
.filter-btn {
  padding: 5px 12px;
  font-size: 14px;

  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.filter-btn.active {
  background-color: #007bff; 
  color: white;
  border-color: #007bff;
}

.filter-btn:hover {
  background-color: #e0e0e0;
}


.left-content{
  position: fixed;
  margin-right: 50%;
  
}
.me{
  object-fit: contain;

}
.rowContainer{
  margin-top: 10px;

  gap: 15px;
  display: flex;
  align-items: center;
}

.gmail-icon:hover .tooltip-container {
  visibility: visible;
  opacity: 1; 
}

ion-icon {
  vertical-align: middle; 
  margin-right: 5px; 
}

.resumeContainer {
  display: grid;
  border-bottom: 4px solid #e0e0e0;
  border-top: 4px solid #e0e0e0;
  
  padding: 0px; 
}

.linkedResumeEntries {
  
  display: flex;
  flex-direction: column; 
  gap: 10px;


  border-radius: 7px;
  cursor: pointer;
  box-shadow:#111;
  transition: all 0.3s ease-in-out;
}

.linkedResumeEntries:hover{
  transform: translateY(-15px);
  border-top: 4px solid #3b82f6;
  border-bottom: 4px solid #3b82f6;

}




.heading {
  display: flex;
  align-items: center; 
  gap: 10px; 
}
#tkh{
  cursor: pointer;

}

.date {
  font-weight: normal; 
  margin: 0; 
}
.description {
  margin-left: 50; 
}




.github-icon{
  font-size: 36px;
  color:white;
  margin-right: 20px;
}

.linkedin-icon{
    font-size: 36px;
    color:white;
    margin-right: 20px;
}

.gmail-icon{
  font-size: 36px;
  color:white;
  margin-right: 20px;
}

.container2 {
    height: 4000px; 
    background: linear-gradient(to bottom,#191970, rgb(135, 206, 235)); 
    overflow: auto; 
}



    
    

  .icons a:hover{
    background-color: #111;
    transition: 0.5s;
  }



  @media only screen and (max-width: 1000px){
    .container {
      display: flex;
      flex-direction: column; 
  }
  .left {
      order: 1; 
      position: absolute;
  }
  .right {
      order: 2; 
      margin-left: 20px;
      margin-top: 300px;
  }
}

